In [7]:
#calculating risk of security
import pandas as pd
import numpy as np
from pandas_datareader import data as wb
import matplotlib.pyplot as plt


tickers = ['PG','ETR:BEI']
sec_data = pd.DataFrame()
for t in tickers:
    sec_data[t] = wb.DataReader(t, data_source = 'google' , start = '2015')['Close']

In [8]:
sec_data.head()

               PG  ETR:BEI
Date
2015-01-02  90.44      NaN
2015-01-05  90.01    66.01
2015-01-06  89.60    66.23
2015-01-07  90.07    66.84
2015-01-08  91.10    68.93

In [9]:
sec_returns = np.log(sec_data/sec_data.shift(1))
sec_returns.tail()

                  PG   ETR:BEI
Date
2017-07-26  0.001793  0.008374
2017-07-27  0.015335  0.005939
2017-07-28 -0.005197 -0.011695
2017-07-31  0.006739  0.009647
2017-08-01  0.003078  0.001509

In [10]:
sec_returns['PG'].std()*250**0.5

0.14410311567334774

In [11]:
sec_returns['PG'].mean()*250

0.002800907879869653

In [16]:
#variance b/w PG and ETR,BEI

PG_var = sec_returns['PG'].var()
PG_var
PG_var_a = PG_var * 250

In [18]:
BEI_var = sec_returns['ETR:BEI'].var()
BEI_var
BEI_var_a = BEI_var * 250
BEI_var_a

0.04200374813117627

In [19]:
cov_mat = sec_returns.cov()
cov_mat

               PG   ETR:BEI
PG       0.000083  0.000031
ETR:BEI  0.000031  0.000168

In [21]:
cov_mat_a = cov_mat * 250
cov_mat_a

               PG   ETR:BEI
PG       0.020766  0.007684
ETR:BEI  0.007684  0.042004

In [22]:
corr_matrix = sec_returns.corr()
corr_matrix

               PG   ETR:BEI
PG       1.000000  0.259942
ETR:BEI  0.259942  1.000000